@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  /*background: linear-gradient(120deg, rgba(0,145,147,0.3), rgba(255,38,0,0.3), rgba(255,148,0,0.3));*/
  margin: 0 auto;
}

.transition_block {
  height: 250px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  top: 1000px;
  position: absolute;
  width: 100%;
}

.reallybig {
  height: 150px;
  /*background: rgba(217,37,136,1.0);*/
  top: 900px;
  position: absolute;
  width: 100%;
}

.reallybig h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}

.topnav {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  bottom: 0;
  z-index: 70;
  text-align: center;
  width: 100%;
}

.topnav li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.topnav li a {
  font-size: 24px;
  color: black;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}

#video {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255, 97, 56, 0.8) 100%);
}

#video h1 {
  color: black;
  font-size: 72px;
  text-align: center;
  /*padding-bottom: 200px;*/
  /*margin-bottom: 100px;*/
}

.logo {
  margin-top: -200px;
  margin-bottom: 20px;
}

#video img {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 850px;
  height: 500px;
}

.story_header h1 {
  margin-top: -100px;
  text-align: center;
  font-size: 72px;
}

.story_header h3 {
  text-align: center;
  font-size: 30px;
  margin-top: -35px;
}

.story_body {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.story_quote {
  font-style: italic;
  text-align: center;
  font-size: 20px !important;
}

.story_body p {
  font-size: 24px;
  text-align: center;
}

#katrina {
  background: linear-gradient(180deg, rgba(255, 59, 119, 0.8) 0%, rgba(255, 59, 119, 0.5) 80%, rgba(89, 0, 179, 0.7) 100%);
}

#lois {
  background: linear-gradient(180deg, rgba(89, 0, 179, 0.7) 0%, rgba(89, 0, 179, 0.5) 90%, rgba(52, 152, 219, 0.7) 100%);
}

#raylyn {
  background: linear-gradient(180deg, rgba(52, 152, 219, 0.7) 0%, rgba(22,149,163,0.5) 90%, rgba(133, 219, 24, 0.6) 100%);
}

#talitha {
  background: linear-gradient(180deg, rgba(133, 219, 24, 0.6) 0%, rgba(69, 191, 85, 0.4) 80%, rgba(150, 237, 137, 0.4) 100%);
}

.history_stat {
  background: linear-gradient(180deg, rgba(255, 97, 56, 0.8) 0%, rgba(255, 97, 56, 0.5) 50%, rgba(255, 59, 119, 0.8) 100%);
}

.lovelace {
  background: rgba(54, 177, 191, 0.7);
}

.hamilton {
  background: rgba(245, 165, 3, 0.5);
}

.hopper {
  background: rgba(68, 88, 120, 1.0);
}

.history_stat h1 {
  font-size: 192px;
  text-align: center;
}

.history_stat h5 {
  font-size: 20px;
  text-align: center;
}

.history_slide2 {
  background: rgba(0, 163, 136, 0.6);
}

.history_slide2 h1 {
  font-size: 72px;
  text-align: center;
}

p {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}