body {
  /*background: linear-gradient(120deg, rgba(0,145,147,0.3), rgba(255,38,0,0.3), rgba(255,148,0,0.3));*/
  margin: 0 auto;
}

.transition_block {
  height: 250px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  top: 1000px;
  position: absolute;
  width: 100%;
}

.reallybig {
  height: 150px;
  /*background: rgba(217,37,136,1.0);*/
  top: 900px;
  position: absolute;
  width: 100%;
}

.reallybig h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}

.bigblack {
  height: 1050px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(217,37,136,1.0) 100%);
  position: absolute;
  top: 0;
}

.bigblack h1 {
  color: white;
  font-size: 72px;
  text-align: center;
  /*padding-bottom: 200px;*/
  /*margin-bottom: 100px;*/
}

.bigblack img {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bigblack iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 850px;
  height: 640px;
}

.raylyn {
  top: 1050px;
  height: 1000px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(217,37,136,1.0) 0%, rgba(217,72,72,0.3) 100%);
}

h1 {
  text-align: left;
  color: black;
  font-size: 40px;
}

p {
  font-size: 18px;
  margin-top: 20px;
}

.lois {
  top: 2050px;
  height: 1000px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(217,72,72,0.3) 0%, rgba(242,80,199,0.3) 100%);
}

.katrina {
  top: 3050px;
  height: 1000px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(242,80,199,0.3) 0%, rgba(22,149,163,0.3) 100%);
}

.talitha {
  top: 4050px;
  height: 1000px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(235,127,0,0.6) 0%, rgba(223,28,171,0.6) 100%);
}