body {
  /*background: linear-gradient(120deg, rgba(0,145,147,0.3), rgba(255,38,0,0.3), rgba(255,148,0,0.3));*/
  margin: 0 auto;
}

.transition_block {
  height: 250px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  top: 1000px;
  position: absolute;
  width: 100%;
}

.reallybig {
  height: 150px;
  /*background: rgba(217,37,136,1.0);*/
  top: 900px;
  position: absolute;
  width: 100%;
}

.reallybig h1 {
  color: white;
  font-size: 60px;
  text-align: center;
}

.topnav {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  bottom: 0;
  z-index: 70;
  text-align: center;
  width: 100%;
}

.topnav li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.topnav li a {
  font-size: 24px;
  color: black;
  font: Helvetica;
  text-decoration: none;
}

#video {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255, 97, 56, 0.6) 100%);
}

#video h1 {
  color: black;
  font-size: 72px;
  text-align: center;
  /*padding-bottom: 200px;*/
  /*margin-bottom: 100px;*/
}

.logo {
  margin-top: -200px;
  margin-bottom: 20px;
}

#video img {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 850px;
  height: 500px;
}

#raylyn {
  background: linear-gradient(180deg, rgba(172,240,242,0.3) 0%, rgba(22,149,163,0.3) 50%, rgba(34, 83, 120, 0.3) 100%);
}

.story_header h1 {
  margin-top: -100px;
  text-align: center;
  font-size: 72px;
}

.story_body {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.lois {
  top: 2050px;
  height: 1000px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(217,72,72,0.3) 0%, rgba(242,80,199,0.3) 100%);
}

.katrina {
  top: 3050px;
  height: 1000px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(242,80,199,0.3) 0%, rgba(22,149,163,0.3) 100%);
}

.talitha {
  top: 4050px;
  height: 1000px;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(235,127,0,0.6) 0%, rgba(223,28,171,0.6) 100%);
}

.history_stat {
  background: rgba(255, 97, 56, 0.6);
  /*background: linear-gradient(90deg, rgba(255, 0, 0, 0.9) 0%, rgba(160, 0, 0, 0.1) 90%, rgba(255, 255, 255, 0.3) 100%);*/
}

.history_stat h1 {
  font-size: 192px;
  text-align: center;
}

.history_stat h5 {
  font-size: 20px;
  text-align: center;
}

.history_slide2 {
  background: rgba(0, 163, 136, 0.6);
}

.history_slide2 h1 {
  font-size: 72px;
  text-align: center;
}